.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#logo {
  display: flex;
  align-items: center;
  margin-right: 70%; 
  margin-left: 0.5%;
  box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.2);
  border: 2px solid transparent;
  padding: 15px;
  width: 5%;
  box-sizing: border-box;
  border-radius: 15px;
  flex-grow: 1;
}

.topTable {
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  border: 2px solid transparent;
  flex-grow: 1;
  top: 0;
}

.searchbar {
  box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.3);
  border: 2px solid  transparent;
  display: flex;
  text-align: center;
  /* width: 100%; */
  padding: 15px;
  border-radius: 20px;
  flex-grow: 1;
  /* margin-top: 0px; */
}

.searchBarContainer{
  display: flex;
  align-items: center;
  text-align: bottom;
  flex-grow: 1;
  /* width: 50%; */
  
  top: 7px;
  position: absolute;
  /* margin-left: 24%; */
  flex-direction: column;
}

.searches {
  top: calc(100% + 5px); 
  left: 0;
  /* width: 0%; */
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 30px;  
  padding: 10px;
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  height: auto;
  text-align: center;
  backdrop-filter: blur(10px);
}

.searches > div:hover{
  cursor: pointer;
  background-color: rgb(184, 134, 11, 0.5);
}


.userInputContainer {
  display: flex;
  position: absolute;
  bottom: 0;
  top: 35%;
  width: 100%;
  padding: 10px; 
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1); 
  flex-grow: 1;
  flex-direction: row;
}



.userInfo{
  display: block;
  text-align: center;
  border-radius: 15px;
  padding: 8px;
  width: 100%;
  padding-right: 2px;
  border: 1px solid transparent;
}

.SignoutButton{
  display: block;
  text-align: right;
  margin-right: 2px;
  width: 65%;
  height: 100%;
  color: red;
  border: 1px solid transparent;
  
}

.User {
  display: flex;
  justify-content: center;
  box-shadow: 2px 3px 28px 1px rgba(0,0,0,0.2);
  border: 1px solid transparent;
  padding: 15px;
  border-radius: 15px;
  height: 100%;
  margin-left: 5%;
  width: 10%;
  flex-grow: 1;
  position: relative;
}


.tabs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  margin-right: 0;
  flex-grow: 1;
  width: 100%;
  border: 5px solid transparent;

  height: auto;
}

.tabs-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  width: 20%;
  border-radius: 11.5%;

  flex-grow: 1;
}

.studyMap, .studyMaterials, .discussions {
  display: block;
  text-align: center;
  box-shadow: 2px 3px 28px 1px rgba(0, 0, 0, 0.3);
  border: 0px  transparent;
  box-sizing: border-box;
  margin: 0 auto;
  height: 6%; 
  width: 100%;
  border-radius: 25px;
  line-height: calc(6% - 10px); 
  padding: 10% 0; 
  flex-grow: 1;
}

.studyMap:hover, 
.studyMaterials:hover, 
.discussions:hover {
  background-color: rgb(184, 134, 11);
}

.tabs-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  margin-left: 1%;
  box-shadow: 2px 3px 28px 1px rgba(0, 0, 0, 0.5);
  border: 5px solid transparent;
  border-radius: 20px;
  background-color: #999999;
}

.floorMap {
  display: flex;
  border-radius: 1.8%;
  flex-grow: 1;
  
}



.FirstFloor, .SecondFloor, .ThirdFloor{
  display: flex;
  flex-grow: 1;
}




.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  border: 5px solid #100f0f;
  display: none; /* Hide it by default */
}

/* Show search results when input is focused */
#search-bar:focus + .search-results {
  display: block;
}

.post-transition {
  transition: transform 0.3s ease-in-out;
}

.post-content {
  transition: height 3.0s ease-in-out;
}
